<div class="card">
</br>
<h2>Contact Info. </h2>
  For further contact about the app or to notifiy about any errors please contact Audrey Andoy at audreylandoy@gmail.com. 


<ul>
<li>Other links:</li>
  <li><a href="https://www.linkedin.com/in/audreyandoy">LinkedIn</a> </li>
  <li><a href="https://github.com/audreyandoy/phofinder">Github</a></li>
</ul>
</br>
</div>