<video autoplay loop id="video-background" muted>
  <source src="/video/pho.mp4" type="video/mp4">
	</video>

<div class="intro">
	<div class="card">
		</br>
	    <h3>Welcome to Phofinder</h3>
	    <p> Find the best vietnamese restaurants in your area for all your pho lovin' needs.</p>
		<p>To start, please log in or sign up below. 
		<p>
			<a href="auth/login" class="waves-effect waves-light btn">Log In</a>
			<a href="auth/signup" class="waves-effect waves-light btn">Sign Up Here</a>
		</p>
	  
	   </br>
	</div>        

</div>