


<div class="card">


    <h3>Welcome to Phofindr</h3>
    <p>The fastets way to find and favorite the nearest pho restaurant to you!
	<p>To start, please <a href="auth/login" class="waves-effect waves-light btn">Log In</a> or <a href="auth/signup" class="waves-effect waves-light btn">Sign Up Here</a>
  
   </br>
   </br>
</div>        

