<div class="intro">
	<div class="card">


		</br>
		<h3>Welcome to Phofinder</h3>
		<p>Find your next favorite vietnamese restaurant for all your pho lovin' needs.</p>
		<p>To start, please log in or sign up below.</p>
		<p>
			<a href="auth/login" class="waves-effect waves-light btn">Log In</a>
			<a href="auth/signup" class="waves-effect waves-light btn">Sign Up Here</a>
		</p>

		</br>
		</br>
	</div>

</div>