<!DOCTYPE html>
<html>
<head>
	<title>PhoFinder</title>

	<!-- MaterializeCompiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">


</head>
<body>


<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo center">PhoFinder</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
				<%	if (currentUser) { %> 
			<li><a href="/Profile">Profile</a>
				<% } %>
			</li>
			<li><a href="/login">Login</a></li>
			<li><a href="/Signup">Signup</a></li>
			<li><a href="/Contact">Contact</a></li>
			<li><a href="/Search" onclick="Materialize.toast('You must be logged in to search', 1000)">Search</a></li>
			<% if (currentUser) { %>
			<li><a href="/auth/logout">Logout</a></li>
			<% } %>
		</ul>
		<ul id="nav-mobile" class="hello left hide-on-med-and-down">
		<% if (currentUser.username) { %>
				<li>Hello <b><%= currentUser.username %>!</b></li>
		<% } %>
		</ul>
	</div>
</nav>
  
<div class="container">
	<%- body %>
</div>
<!-- Compiled and minified JavaScript -->
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Materialize -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  
</body>
</html>