

<div class="card"> 
</br>
          <form action="/auth/login" method="POST" class="col s6">
        <h1>Login Here</h1>
        <div class="input-field col s9">
          <input id="email" name="email" type="email" class="validate">
          <label class="active" for="email">Email</label>
          
        </div>

        <div class="input-field col s9">
          <input id="password" name="password" type="password" class="validate">
          <label class="active" for="password">Password</label>
        </div>

      <button type="submit" class="btn waves-effect waves-light"><i class="material-icons">Submit</i></button>
   </form>
</br>
</div>
</div>
