<div class="middle">
  <div class="card">
    <div class="title">
      <h4><%= currentUser.username %>'s Pho History</h4>
    </div>

    <ul>
      <% favorites.forEach(function(business) { %>
        <div class="pho"><%= business.restName %> </div>
      <% });%>
    </ul>
  </div>
</div>

