<div class="middle">
  <div class="card">
    <div class="title">
      <h4><%= currentUser.username %>'s Pho History</h4>
    </div>

    <ul>
      <% favorites.forEach(function(business) { %>
       <div class="col s4 m4"><%= business.restName %> </div>

        </p>
      <% });%>
    </ul>
  </div>
</div>

