<div class="card"> 
</br>
<h4><%= currentUser.username %>'s Favs</h4>
<div id="fav">

<% favorites.forEach(function(business) { %>
	<ul>
		<li>#<%= business.id %>
	  <%= business.restName %>
    </li>
	</ul>
				
<% });%>

</div>
</div>