<h4> insert yelp function here. Search by city and state</h4>

<form action="/result" method="GET">
	<legend>Form title</legend>
	<div class="input-field"> 
		<div class="form-group">
			<label class="control-label" for="">Submit</label>
			<span class="help-block"></span>
			<input type="search" class="form-control" name="search" id="search" placeholder="Ex: Seattle, WA">
		</div>
	</div>
	
	<button type="submit" class="btn">label</button>
</form>