<!--  	<div class="row">
		<form class="col s12 search" action="/result" method="GET">
		<h4>Let's find you some Pho!</h4>
			<div class="input-field col s12"> 
					<input placeholder="Ex: Seattle, WA" type="text" name="search" id="search" >
					<label class="control-label" for="">Please type in a city and state below</label>
 		</div>
			<button type="submit" class="btn">Submit</button>
		</form>
			</br>
	</div>

 -->