 <div class="card">
	<form action="/result" method="GET">
	</br>
	<legend>Let's find you some Pho!</legend>
	</br>
		<div class="input-field"> 
			<div class="form-group">
				<label class="control-label" for="">Please type in a city and state below</label>
				<span class="help-block"></span>
				<input type="search" class="form-control" name="search" id="search" placeholder="Ex: Seattle, WA">
			</div>
		</div>
		<button type="submit" class="btn">Submit</button>
	</form>
		</br>
	
</div>