<div class="card">
	<form action="/signup" method="POST" >
 		<h1>Sign-Up Here</h1>
		 <% include alert %>
	    <div class="row">
		    <div class="row">
		      <div class="input-field col s12">
		        <input id="username" name="username" type="text" class="validate">
						<label for="username" class="active">username</label>
		      </div>
		    </div>
				<div class="row">
					<div class="input-field col s12">
						<input id="email" name="email" type="email" class="validate">
						<label for="email" class="active">Email</label>
					</div>
				</div>
		    <div class="row">
		      <div class="input-field col s12">
		        <input id="password" name="password" type="password" class="validate">
						<label for="password"class="active">password</label>
		      </div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="passwordValid" name="passwordValid" type="password" class="validate">
						<label for="Confirm password" class="active">Confirm password</label>
					</div>
				</div>
				
			<button type="submit" id="authButton" class="btn waves-effect waves-light"><i class="material-icons">Submit</i></button>
			</div>
		</form>
		

</div>