body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background-image: url("/video/cilantro.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.hello {
	margin-left: 25px;
}

.nav .navbar {
	margin: 10px;

}
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.nav-wrapper, .btn {
  background-color: #558b2f;
}

.intro {
  text-align: center;
  opacity: 0.7;
  margin-top: 150px;
}

/*Search.ejs */
form {
  background-color: white;
}

.search {  
  padding: 30px 30px 30px 30px;
  height: 200px;
  margin-top: 200px;
}

h4 {
  text-align: center;
}

.card {
  text-align: center;
}

.card-panel {
  height: 520px;
  padding: 10px 10px 0px 10px;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
}

#results {
  float: right;
  margin: 0px 10px 10px 10px; 
  width: 50%;
}

.input-field {
	text-align: center;
	margin-left: 0px;
  margin-bottom: 0px;
}


.title {
	background-color: white;
  opacity: 0.7;
  padding: 10px 10px 10px 10px;
  margin: 10px;
}

ul {
  margin: 0px 0px 0px 0px;
}

/*#map {
	width: 350px;
	height: 350px;
	float: right;
	display: inline-block;
}*/

.right {
	margin-right: 20px;

}

legend {
	font-size: 30px;
}

h3 {
	margin-top: 20px;
}

.yelp-img {
  float: left;
  margin-bottom: 5px;
  margin-right: 10px;
}

.photoName {
  height: 110px;
  text-align: left;
  clear: left;
}

.stars {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

button {
  right: 0;
  bottom: 0;
  width: 100%;
}

h5 {
  margin-top: 5px;
}

.address {
  height: 50px;
  width: 220px;
  margin-left: 32px;

}

.snippet {
  height: 110px;
  width: 250px;
  margin-left: 20px; 
}

.row {
  margin: 0px 0px 0px 0px;
}
#fav {
  width: 400px;
  height: 400px;
  text-align: center;
  margin-left: 170px;
}



